<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="container-fluid">
      <div class="skills-title">
        <h4>View My Projects!</h4><hr>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="thumbnail">
      <h3>CIMS Med.</h3>
      <img class="img-responsive project-pic" src="https://dl.dropboxusercontent.com/s/vr5rywmppv7ht13/cims.png?dl=0">
      <div class="caption">
        <p>Group project I contributed to as part of our Final Project for our Bootcamp.</p>
        <p class="project-links"><a target="_blank" class="btn btn-default pull-right" href="https://cims-health.herokuapp.com">Demo &nbsp;&nbsp;<i class="fa fa-globe fa-2x" aria-hidden="true"></i></a><a target="_blank" class="btn btn-default pull-right" href="https://github.com/Mark-A-A/CIMS">View Code &nbsp;&nbsp;<i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="thumbnail">
      <h3>Mora Sports</h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <img class="img-responsive project-pic" src="https://dl.dropboxusercontent.com/s/r9jy9qowei7jzas/sports-app.png?dl=0">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <img class="img-responsive project-pic" src="https://dl.dropboxusercontent.com/s/s3jniyzzhdrnggl/sports-app-nav.png?dl=0">
        </div>
      </div>
      <div class="caption sports-caption">
        <p>This is a Personal Side project I made to display my love for sports, when you click a sport, information gets scraped from a reliable source to display latest news as they are published.</p>
        <p class="project-links"><a target="_blank" class="btn btn-default pull-right" href="https://mora-sports.herokuapp.com">Demo &nbsp;&nbsp;<i class="fa fa-globe fa-2x" aria-hidden="true"></i></a><a target="_blank" class="btn btn-default pull-right" href="https://github.com/Serviox19/Sports-App">View Code &nbsp;&nbsp;<i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="thumbnail">
      <h3>Rutgers Flyer</h3>
      <img class="img-responsive project-pic" src="https://dl.dropboxusercontent.com/s/ajm2sbc7x6jzu0p/Screenshot%202016-04-27%2013.33.04.png?dl=0">
      <div class="caption">
        <p>Theres alot of things to see, eat, and do at Rutgers. Come see all the posibilities.</p>
        <p class="project-links"><a target="_blank" class="btn btn-default pull-right" href="">Demo &nbsp;&nbsp;<i class="fa fa-globe fa-2x" aria-hidden="true"></i></a><a target="_blank" class="btn btn-default pull-right" href="https://github.com/Serviox19/Rutgers_Flyer_New">View Code &nbsp;&nbsp;<i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="thumbnail">
      <h3>Rock, Paper, Scissors</h3>
      <img class="img-responsive project-pic" src="https://dl.dropboxusercontent.com/s/6iqn4jfvvzylhed/Screenshot%202016-04-27%2012.51.38.png?dl=0">
      <div class="caption">
        <p>This is one of my early projects, a Rock, Papers, Scissors game using JavaScript, jQuery, and CSS to provide game logic and styling.</p>
        <p class="project-links"><a target="_blank" class="btn btn-default pull-right" href="https://servio-rps.herokuapp.com/">Demo &nbsp;&nbsp;<i class="fa fa-globe fa-2x" aria-hidden="true"></i></a><a target="_blank" class="btn btn-default pull-right" href="https://github.com/Serviox19/Rock-Papers-Scissors">View Code &nbsp;&nbsp;<i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>
