body {
  background-color: #333333;
  color: white;
}

/*##############MEDIA QUERIES################*/

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {




}



/*##############MEDIA QUERIES################*/


/*#########NAVBAR#####################*/

.navbar-default {
  background-color:#333333;
  color:#ffffff;
  border-color: transparent;
}

.navbar-default .navbar-nav li a {
  color: white;
  &:hover {
    color: blue;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-default .navbar-nav li a:visited {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

/*#############NAVBAR###################*/

.jumbotron {
background-image: url("../images/home.jpg");
background-size: cover;
}


.thumbnail img {
  text-align: center;
}

.thumbnail h3, h5 {
  text-align: center;
}

.caption {
  margin-bottom: 20px;
}

.caption p {
  text-align: justify;
}

.links a {
  margin: 0 auto;
}

.img-circle {
  margin-top: 15px;
  height: 200px;
  width: 200px;
}

#social-links {
  margin: auto;
  text-align: center;
}

#social-links a {
  color: #929292;
  width: 50px;
  display: inline-block;
}

.link-rule {
  color: #929292;
}




