.btn btn-default {
  padding-right: 20px;
}

.project-pic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  image-rendering: auto;
}


.sports-caption {
  padding-top: 10px;
}

.sports-caption p {
  text-align: justify;
}

.caption .project-links {
  margin-bottom: 10px;
}

.project-links a {
  display: inline-block;
}
