.thumbnail {
  background-color: transparent;
  border-color: transparent;
}

.thumbnail .caption {
  color: white;
}

.thumbnail .cation {

}

.skills-title h4 {
  text-align: center;
  font-size: 30px;
  font-weight: unset;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  background-color: black;
}

/* Title for each Technology */
.caption h3 {

}

.caption .skill-info {
  text-align: center;
}

.tools {
  max-width: 250px;
  max-height: 200px;
}






