body {
  background-color: #EDF0F5;
}

.title-bar {
  height: 60px;
}

.top-bar {
overflow: hidden;
line-height: 50px;
position: relative;
background: #000;
}

.top-bar ul {
background-color: #000;
}

#view {
  margin-top: 10px;
}






